# Local User IDs for volume permissions
USER_ID=1000
GROUP_ID=1000

# App Configuration
REDIS_HOST=redis-db
CELERY_BROKER_URL=redis://redis-db:6379/0
DATABASE_URL=postgresql://appuser:apppassword@postgres-db:5432/nerva_db
